<section class="section">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
			<h3 class="page-title">Sign Up <small>Create a new account to start tracking issues</small></h3>
				<div class="page-body">
					{{#if errorMessage}}
						<div class="alert alert-danger">{{errorMessage}}</div>
					{{/if}}
					<form {{action signup on="submit"}} role="form">
						<div {{bind-attr class=":form-group fullnameError:has-error"}}>
							<label for="fullname">Full Name</label>
							{{input value=fullname type="text" id="fullname" class="form-control" }}
							<span class="help-block">{{fullnameError}}</span>
						</div>
						<div {{bind-attr class=":form-group emailError:has-error"}}>
							<label for="email">Email Address</label>
							{{input value=email type="text" id="email" class="form-control" }}
							<span class="help-block">{{emailError}}</span>
						</div>
						<div {{bind-attr class=":form-group usernameError:has-error"}}>
							<label for="username">Username</label>
							{{input value=username type="text" id="username" class="form-control" }}
							<span class="help-block">{{usernameError}}</span>
						</div>
						<div {{bind-attr class=":form-group passwordError:has-error"}}>
							<label for="password">Password</label>
							{{input value=password type="password" id="password" class="form-control" }}
							<span class="help-block">{{passwordError}}</span>
						</div>
						{{input class="btn btn-primary" type="submit" value="Sign Up"}}
					</form>
				</div>
	    </div>
	  </div>
	</div>
</section>